/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .menu-area nav ul#nav { 
        gap: 15px;
    }
    .hero-wrap h1 {
        font-size: 145px; 
    }
    section.hero-area > img { 
        max-width: 650px;
    }
    section.hero-area.pd-extra {
        padding: 180px 0;
    }
    section.stagepadsections { 
        left: -90px;
    }
    h6.status-title { 
        font-size: 12px; 
    }

    section.blog-area .section-title h3 {
        font-size: 50px;
    }

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .menu-area nav ul#nav { 
        gap: 10px;
    }
    .menu-area nav ul li a {
        font-size: 18px; 
    }
    .hero-wrap h1 {
        font-size: 100px;
        line-height: 80px;
    }
    section.hero-area > img { 
        max-width: 570px;
    }
    section.hero-area.pd-extra {
        padding: 180px 0;
    }
    section.stagepadsections { 
        left: -90px;
    }
    h6.status-title { 
        font-size: 12px; 
    }
    .blk-wrap > h4 {
        font-size: 24px;
        line-height: 26px;
    }
    .single-video-thumbnail img {
        width: 120px;
        height: 110px; 
    }
    .single-video-content h4 {
        font-size: 18px; 
        line-height: 16px; 
    }
    .single-video-content p {
        margin: 0;
        font-size: 15px;
        line-height: 1;
        margin-top: 10px;
    }
    .video-action-top ul a { 
        gap: 4px; 
        padding: 8px 15px; 
    }
    .video-action-top ul { 
        gap: 5px;
    }

    .menu-area nav a.theme-btn { 
        font-size: 30px;
        padding: 10px 15px; 
    }
    .menu-area nav { 
        gap: 15px;
    }
    .about-item.withThemBg .about-blk-wrap h4 { 
        font-size: 32px; 
        left: -152px;
        top: 41px; 
    }
    section.blog-area.firstBlog {
        margin-top: -230px; 
    }
    .blog_lists > h4 { 
        right: -55px; 
    }
    section.blog-area .section-title h3 {
        font-size: 42px;
    }
}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .footer-items { 
        gap: 30px;
    }
    section.whatnew-area .blk {
        margin-bottom: 30px;
    }
    section.stagepadsections { 
        left: -90px;
    }
    .blk-wrap > h4 {
        font-size: 26px;
        line-height: 24px;
        margin-top: 10px;
    }
    .video-wrap {
        flex-direction: column-reverse;
    }
    
    ul.video-lists {
        width: 100%;
    }
    
    .single-video {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
    }
     
    .single-video-content h4 {max-width: 100%;}
    section.leaflet-area .blk.bstyle2 {
        margin-top: 30px;
    }
    section.hero-area > img { 
        max-width: 420px;
    }
    section.hero-area.pd-extra {
        padding: 115px 0;
    }
    section.hero-area > img { 
        max-width: 420px;
    }
    .hero-wrap h1 {
        font-size: 92px;
        color: #fff;
        line-height: 80px;
        margin-left: auto;
        max-width: 350px;
    }
    .menu-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .menu-wrap .bar {
        min-width: 30px;
    }





    .about-blk-img img {
        width: 100%;
    } 
    .about-item.withThemBg .about-blk-wrap,.about-item.withGrayBg {
        padding-right: 0px; 
        padding: 30px;
    }
      .about-blk-wrap{
        padding: 30px;
    }
    .about-item.withThemBg .about-blk-wrap h4 {
        transform: rotate(0);
        position: unset;
        margin: auto;
    }
    form.search_form{
        margin: auto;
    }
    ul.tagLists { 
        width: 100%;
    }



    .blog_lists ul.video-lists {
        width: 92%; 
    }
    .blog_lists > h4 { 
        right: -63px; 
    }
    section.blog-area.firstBlog {
        margin-top: -230px; 
    }
    .blog-content-left{
        margin-bottom: 100px;
    }

    .blog-content-wrap.inTop .blog-content-left {
        top: 0;
        margin-bottom: 60px;
    }


    .classes-extra-blks{
        justify-content: center;
    }
    .single-class-extra-blk { 
        max-width: 340px;
    }
    .classes-top-opt-bar {
        flex-direction: column-reverse;
    }
    
    .classes-top-opt-bar .section-title {
        width: 100%;
    }
    
    .classes-top-opt-bar form.search_form {
        width: 100%;
        margin-bottom: 30px;
    }

    section.classes-area.classes-second .classes-top-opt-bar{
        flex-wrap: wrap;
    }
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .footer-items { 
        gap: 30px;
        flex-direction: column;
    }
    section.whatnew-area .blk {
        margin-bottom: 30px;
    }
    section.stagepadsections { 
        left: -60px;
        padding: 45px 0;
        padding-right: 40px;
    }
    .blk-wrap > h4 {
        font-size: 26px;
        line-height: 24px;
        margin-top: 10px;
    }
    .video-wrap {
        flex-direction: column-reverse;
    }
    
    ul.video-lists {
        width: 100%;
    }
    
    .single-video {
        width: 100%;
        text-align: right;
        justify-content: flex-end;
    }
     
    .single-video-content h4 {max-width: 100%;}
    section.leaflet-area .blk.bstyle2 {
        margin-top: 30px;
    }
    section.hero-area > img { 
        max-width: 420px;
    }
    section.hero-area.pd-extra {
        padding-top: 100px;
        padding-bottom: 500px;
    }
    section.hero-area > img {
        max-width: 520px;
        left: 50%;
        transform: translateX(-50%);
    } 
    .hero-wrap h1 {
        font-size: 92px;
        color: #fff;
        line-height: 80px;
        margin-left: auto;
        max-width: 350px;
    }
    .menu-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .menu-wrap .bar {
        min-width: 30px;
    }
    .section-title h3, section.stagepadsections > h4 {
        font-size: 38px; 
        line-height: 35px; 
        padding: 10px 30px;
        width: 60%;
    }
    .section-title { 
        margin-bottom: 50px;
    }
    section.stagepadsections > h4 {
        top: 117px;
        right: -112px;
        width: max-content;
    }
    section.stagepadsections .owl-nav { 
        right: -95px; 
        bottom: -45px;
    }
    section.stagepadsections .owl-nav > div {
        width: 55px; 
    }
    section.stagepadsections .blk {
        min-height: 420px;
        max-width: 270px;
        padding: 10px;
    }
    .video-action-top {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 10px;
    }
    
    .video-action-top ul a {
        font-size: 14px;
        padding: 5px 10px;
    }
    
    h6.status-title {
        font-size: 13px;
    }
    .owl-nav > div { 
        width: 60px;
        height: 55px; 
    }
    .owl-nav { 
        top: -141px; 
    }
    .section-title{
        min-height: 91px;
    }
    section.articale-area,section.whatnew-area { 
        padding-bottom: 50px;
    }
    .gallery-items .owl-nav {
        left: 5%;
    }
    a.banner { 
        margin: 50px 0;
    } 
    .copywrite_texts {
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 5px;
    }





    .about-blk-img img {
        width: 100%;
    } 
    .about-item.withThemBg .about-blk-wrap,.about-item.withGrayBg {
        padding-right: 0px; 
        padding: 30px;
    }
      .about-blk-wrap{
        padding: 30px;
    }
    .about-item.withThemBg .about-blk-wrap h4 {
        transform: rotate(0);
        position: unset;
        margin: auto;
    }
    section.about-more-area {
        padding: 80px 0 120px 0;
    }
    section.about-video-area .section-title h3 {
        width: 100%;
    }
    
    section.about-video-area {
        padding-bottom: 70px;
    }
    
    section.about-area {
        padding: 70px 0;
    }



    section.whatnew-area.whatnew2 .blk {
        margin-top: 0px;
    }

    form.search_form {
        width: 100%;
    } 
    .blk.blk-big .blk-img > img {
        height: 240px; 
    }
    ul.tagLists { 
      width: 100%;
    }




    section.blog-area.firstBlog .blog-content-wrap .row {
        flex-direction: column-reverse;
        gap: 50px;
    }
    
    section.blog-area.firstBlog {
        margin-top: -225px;
    }
    
    .first-blog-wrap h3 {
        font-size: 36px;
    }
    
    h4.blog-sub-title {
        font-size: 20px;
    }
    
    img.fblimg {
        margin-bottom: 50px;
    }
    
    img.fblimg2 {
        margin-bottom: 50px;
    }
    
    .blog-inner-mid-wrap a.theme-btn {
        width: auto;
        justify-content: space-between;
        font-size: 29px;
    }
    
    .blog-count-blk {
        padding: 25px;
    }
    
    .blog_lists ul.video-lists {
        width: 280px;
    }
    
    .blog_lists > h4 {
        padding: 8px 25px;
        z-index: 2;
        right: -65px;
        font-size: 24px;
        top: 55px;
    }


    .blog-content-wrap.inTop .blog-content-left {
        top: 0;
        margin-bottom: 60px;
    }
    .blog-details-action-blk { 
        padding: 30px 24px; 
    }
    section.blog-area .section-title h3 {
        width: 100%;
    }

    
    .classes-extra-blks{
        justify-content: center;
    }
    .single-class-extra-blk { 
        max-width: 340px;
    }
    .classes-top-opt-bar {
        flex-direction: column-reverse;
    }
     
    
    .classes-top-opt-bar form.search_form {
        width: 100%;
        margin-bottom: 30px;
    }


    section.leaflet-area.leafletsecond .section-title h3,
    .classes-top-opt-bar .section-title,.classes-top-opt-bar .section-title h3,
    section.gallerysecond-area .section-title h3{
        width: 100%;
    }



    section.classes-area.classes-second .classes-top-opt-bar{
        flex-wrap: wrap;
    }


}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
